html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10);
  width: 100%;

  @include media(">desktop") {
    font-size: 10px;
  }
}

html,
body {
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  font-family: $font-sauce;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.3;
  background: #EEEBE7;
  color: $black;
  font-feature-settings: "case" on;
  display: flex;
  flex-direction: column;
}

.c-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  --margin-bottom: 72px;
}

.c-nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}


.c-marquee {
  overflow-x: clip;
  margin-bottom: var(--margin-bottom);
  display: flex;
  width: 100%;
  
  &__list {
    display: inline-flex;
    cursor: grab;

    &.dragging {
      cursor: grabbing;
    }
  }

  &__item {
    width: 72px;
    height: 72px;
    margin: 0 4px;
    --top-left-y: 0%;
    --top-right-y: 0%;
    --bottom-right-y: 100%;
    --bottom-left-y: 100%;
    cursor: pointer;

    &.wide {
      width: 96px;
    }

    &__inner {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
      clip-path: polygon(0 var(--top-left-y),100% var(--top-right-y),100% var(--bottom-right-y),0 var(--bottom-left-y));
    }
  }
}

.c-preview {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  max-height: calc(100vh - 45px - 72px - 16px - var(--margin-bottom));

  &__image {
    aspect-ratio: 1/1;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &__index {
    font-family: $font-garamond;
    font-size:40px;
    line-height: 1;
  }
}
